QWidget{
    background: rgb(181, 131, 90);
 }
 
 QLabel{
    font-size: 15px;
    color:rgb(0, 0, 0)
 }
 
 QPushButton{
    font-size: 12px;
    background: rgb(205, 171, 143);
 }
 
 QLineEdit{
    font-size:20px;
    border-radius: 15px;
    background: #fdeedd;
 }